#To run locally with an env file use the following command
#env $(grep -v '^#' ../.env | xargs) ./run.sh
HOST=database host
SCHEMA=database schema
DB=database name
PORT=database port
DB_USERNAME=database username
DB_PASSWORD=database password
SSL_CA_FILE=rds ssl file
OUTPUT=output location for data dictionary
METADATA=reference data for data dictionary.
IGNORETABLES=pipe (|) separated list of tables to ignore
ATLASSIAN_USER=atlassian username to publish pages to
ATLASSIAN_API_TOKEN=atlassian api key to publish pages to
PHYSICAL_PAGE_ID=id of the page to publish physical schema to
DICTIONARY_PAGE_ID=id of the page to publish dictionary to
DOMAIN_PAGE_ID=id of the page to publish domain to
