HOST=database host
SCHEMA=database schema
DB=database name
PORT=database port
DB_USERNAME=database username
DB_PASSWORD=database password
SSL_CA_FILE=rds ssl file
OUTPUT=output location for data dictionary
REFERENCE_DATA=reference data for data dictionary.
IGNORETABLES=comma,separated,list,of,tables,to,ignore
ATLASSIAN_USER=atlassian username to publish pages to
ATLASSIAN_API_TOKEN=atlassian api key to publish pages to
PHYSICAL_PAGE=id of the page to publish physical schema to
