---
# Per environment values which override defaults in make-recall-decision-api/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: make-recall-decision-api-dev.hmpps.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    SENTRY_ENVIRONMENT: DEV
    HMPPS_AUTH_URL: https://sign-in-dev.hmpps.service.justice.gov.uk/auth
    DELIUS_INTEGRATION_ENDPOINT_URL: https://make-recall-decisions-and-delius-dev.hmpps.service.justice.gov.uk
    ARN_API_ENDPOINT_URL: https://assess-risks-and-needs-dev.hmpps.service.justice.gov.uk
    # CVL 'dev' endpoint isn't in sync with test Delius, and the CVL team advised to switch to 'test2' endpoint which actually talks to probation services
    CVL_API_ENDPOINT_URL: https://create-and-vary-a-licence-api-test2.hmpps.service.justice.gov.uk
    DOCUMENT_MANAGEMENT_API_ENDPOINT_URL: https://document-api-dev.hmpps.service.justice.gov.uk
    PPUD_AUTOMATION_API_ENDPOINT_URL: https://hmpps-ppud-automation-api-dev.hmpps.service.justice.gov.uk
    PRISON_API_ENDPOINT_URL: https://prison-api-dev.prison.service.justice.gov.uk
    MRD_URL: https://make-recall-decision-dev.hmpps.service.justice.gov.uk
    MRD_API_URL: https://make-recall-decision-api-dev.hmpps.service.justice.gov.uk
    HOUSEKEEPING_SENDDOMAINEVENTS: true
    # we cannot override a single item in a list - the whole list is replaced, so we define the whole thing again
    DOCUMENTTEMPLATE_PARTATEMPLATESETTINGS_0_STARTDATETIME: "2025-08-20T23:00Z" # 2025-08-21T00:00Z in BST, bring forward dev for testing
    DOCUMENTTEMPLATE_PARTATEMPLATESETTINGS_0_TEMPLATENAME: "2025-09-02 - FTR48 Phase 1"
    DOCUMENTTEMPLATE_PARTATEMPLATESETTINGS_1_STARTDATETIME: "2026-01-28T00:00Z" # same time in GMT
    DOCUMENTTEMPLATE_PARTATEMPLATESETTINGS_1_TEMPLATENAME: "2026-02-02 - Risk to self"
    ENVIRONMENT_NAME: dev

  scheduledDowntime:
    enabled: true

generic-prometheus-alerts:
  businessHoursOnly: true
  alertSeverity: make-recall-decision-nonprod

gotenberg:
  alertSeverity: make-recall-decision-nonprod
